@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>


<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="~/Content/User/layout.css" type="text/css" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/bootstrap.js"></script>

<link href="~/Content/User/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/User/css/sb-admin.css" rel="stylesheet">
<link href="~/Content/User/css/plugins/morris.css" rel="stylesheet">
<link href="~/Content/User/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateNewConversation</title>

</head>


<body property="og:image" background="~/Content/Images/fk.png">
    @section UserPagesSection
    {
        <li class="active"> <a href="/User/Index"> <span class=""></span> Home </a></li>
        <li> <a href="/User/Profile"> <span class=""></span> Profile </a></li>
        <li> <a href="/User/Chat"> <span class=""></span> Chat </a></li>

        <li> <a href="/User/RandomChat"> <span class=""></span> RandChat </a></li>

        <li> <a href="/User/Conversation"> <span class=""></span> Conversations </a></li>

        <li> <a href="/User/EditProfile"> <span class=""></span> Profile Edition </a></li>

    }


    <div class="row">
        <div class="col-xs-1">


        </div>

        <div id="wrapper" class="col-xs-12">

            <div class="col-xs-4 collapse navbar-collapse navbar-ex1-collapse">

                <ul class="nav navbar-nav side-nav">

                    <li class="active">
                        <a href="/User/ViewLinks">
                            <i class="fa fa-fw fa-users"></i>
                            Your Links
                        </a>
                    </li>
                    <li>
                        <a href="/User/AddNewLink">
                            <i class="fa fa-fw fa-user-md"></i>
                            <font color="grey"> Add new Link </font>
                        </a>
                    </li>

                    <li>
                        <a href="/User/RemoveALink"><i class="fa fa-fw fa-user"></i> Remove a Link</a>
                    </li>
                    <li>
                        <a href="/User/CreateNewConversation"><i class="fa fa-fw fa-edit"></i> Create New Conversation</a>
                    </li>
                    <li>
                        <a href="/User/LeaveAConversation"><i class="fa fa-fw fa-comment"></i> Leave a Conversation</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Blank Page</a>
                    </li>

                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> Blank Page</a>
                    </li>
                </ul>
            </div>





            <div class="row">
                <div class="col-xs-3">
                    <h2> <strong class="bg-primery">Create New Conversation</strong></h2>
                </div>

                <div class="col-xs-5">
                    <br /><br /><br /><br />





                    <form action="/User/AddConversation" method="post" enctype="multipart/form-data">


                        Conversation Name: <input type="text" required placeholder="Convo Name" size="35" name="ConvoName" /><br /><br />
                        <input type="hidden" name="OwnerID" value=@Session["UID"] />
                        <br />

                        Edit Image:
                        <input required type="file" name="image" />
                        <button type="submit" value="Add" class="btn btn-primary">Create</button>
                    </form>

                </div>


            </div>



     <!-- /#page-wrapper -->
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />




</body>
</html>






























 